html {
	font-family: "Lucida Sans", sans-serif;
}

* {
	box-sizing: border-box;
}

/*Webpage is divided into two columns.
Each column is in the same row*/

[class$=Column] {
	float: left;
	padding: 10px;
}

/*Settings for small screen devices*/
[class$=Column] {
	width: 100%;
}

/*Settings for all other devices*/
@media only screen and (min-width: 1300px) {
	.plotColumn {width: 900px;}
	.otherColumn {width: 400px;}
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

/*Plot column settings*/
h2 {
	padding: 0;
	margin: 0;
}

canvas {
	width: 800px;
	height: 800px;
	border: 2px solid black;
}

/*Other column settings*/
.modeRadioDiv {
	padding: 2px;
}

.plotBoundsDiv {
	min-width: 400px;
	padding: 8px;
}

.sliderDiv {
	width: 100%;
	padding: 8px;
}

Form {
	padding: 8px;
}

input[type = "number"] {
	width: 70px;
}

input[type = "range"] {
	width: 50%;
	min-width: 170px;
	max-width: 250px;
	
}
