html {
	font-family: "Lucida Sans", sans-serif;
	font-size: 100%;
}

* {
	box-sizing: border-box;
}

h2 {
	padding-bottom: 0;
	margin-bottom: 0;
}

/*Webpage is divided into two columns.
Each column is in the same row*/
[class$=Column] {
	width: 100%
}

[class$=Column] {
	float: left;
	padding: 16px;
}

/*plotColumn styling*/
.plotColumn {
	width: 900px;
}

#info {
	margin-top: 0;
	padding-top: 0;
}

canvas {
	margin: auto;
	display: block;
	border: 1px solid;
}
	
/*otherColumn styling*/
.otherColumn {
	width: 400px;
}

#boundsForm {
	padding: 10px;
}

.boundsDiv {
	padding: 5px;
	width: 100%;
	min-width: 350px;
}

.selectDiv {
	padding: 10px;
}

.buttonDiv {
	padding: 10px;
}

input[type = "number"] {
	width: 100px;	
}

[class$=SliderDiv] {
	float: left;
	width: 90%;
	min-width: 350px;
}

#matrixForm {
	display: none;
}

#manualForm {
	display: none;
}

#loktaForm {
	display: none;
}

#invalidPar {
	display: none;
}
