#mainCanvas {
	position: absolute;
	z-index: 1;
	top:50px;
	left:20px;
	background-color: transparent;
}

#plotCanvas {
	position: absolute;
	z-index: 2;
	top: 100px;
	left: 70px;
	border: 1px solid black;
}

#radioSelectionsDiv {
	position: absolute;
	left: 800px;
	top: 100px;
}

#boundsDiv {
	position: absolute;
	left: 800px;	
	top: 130px;
}

#funcDropDownDiv {
	position: absolute;
	left:800px;
	top: 220px;
}

#plotButtonDiv {
	position: absolute;
	left:800px;
	top: 270px;
}

#alertPar {
	position: absolute;
	left: 800px;
	top: 300px;
}

input[type=number] {
	width: 20%;
	margin: 2px 0;
}
